- if show_price_filter || show_custom_fields
  - if show_price_filter
    = render :partial => "price_filter"

  - if show_custom_fields
    = render :partial => "custom_filters", locals: { filters: filters }
  
  .row
    .col-12
      %span
        Location(City/State)
      %span
        %input{:id => "g_f", name: "g_f"}
  %button{type: 'submit'}
    = t("homepage.custom_filters.update_view")
